<mat-card class="about-card">
  <mat-card-header>
    <mat-card-title>À propos de l'application</mat-card-title>
    <mat-card-subtitle>
      Projet Framework Web 2 - L3 Informatique - 2025/2026
    </mat-card-subtitle>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>
    <p class="intro">
      Cette application permet de gérer des observations d’animaux. Elle offre
      une interface claire pour consulter, ajouter et organiser les données
      autour des espèces et de leurs apparitions dans le temps et l’espace.
    </p>

    <h3>Concepteurs</h3>
    <mat-list>
      <mat-list-item>
        <mat-icon matListIcon>person</mat-icon>
        Maximilien Goujon —
        <a href="mailto:maximilien.goujon@etu.univ-orleans.fr"
          >maximilien.goujon&#64;etu.univ-orleans.fr</a
        >
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>person</mat-icon>
        Nathan Nicolessi —
        <a href="mailto:nathan.nicolessi@etu.univ-orleans.fr"
          >nathan.nicolessi&#64;etu.univ-orleans.fr</a
        >
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>person</mat-icon>
        Wail Demnati —
        <a href="mailto:wail.demnati@etu.univ-orleans.fr"
          >wail.demnati&#64;etu.univ-orleans.fr</a
        >
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>person</mat-icon>
        Inouk Buigne —
        <a href="mailto:inouk.buigne@etu.univ-orleans.fr"
          >inouk.buigne&#64;etu.univ-orleans.fr</a
        >
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
