*<mat-card>
  <mat-card-title>
    {{ isEditing ? "Modifier une observation" : "Ajouter une observation" }}
  </mat-card-title>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    
    @for (field of ['date', 'latitude', 'longitude', 'description']; track field) {
      <mat-form-field class="full-width">
        <mat-label>{{ field }}</mat-label>
        <input 
          matInput 
          [formControlName]="field"
          [placeholder]="field === 'date' ? 'Format: YYYY-MM-DD' : ''" />
        
        @if (form.get(field)?.invalid && form.get(field)?.touched) {
          <mat-error>{{ field }} est requis.</mat-error>
        }
      </mat-form-field>
    }

    <mat-form-field class="full-width">
      <mat-label>Animal</mat-label>
      <mat-select formControlName="animal">
        @for (animal of (animals$ | async); track animal.id) {
          <mat-option [value]="animal.id">
            {{ animal.nomCommun }}
          </mat-option>
        }
      </mat-select>

      @if (form.get('animal')?.invalid && form.get('animal')?.touched) {
        <mat-error>Veuillez sélectionner un animal.</mat-error>
      }
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
    >
      {{ isEditing ? "Modifier" : "Créer" }}
    </button>

  </form>
</mat-card>
